body {
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,114,1) 50%, rgba(0,212,255,1) 100%);
}
#name {
color: darkcyan;
font-size: 130px;
font-family: 'Mochiy Pop One', sans-serif;
position: center;
top: 0;
left: 0;
}